<!-- <!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> -->
<!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"> -->

<!-- </head>

<body style="overflow: scroll"> -->
<!-- <div class="container">
        <div class="row">
            <div *ngFor="let product of products" class="col-md-3">
                <div class="card m-4" style="height: 22rem; width: 18rem;">
                    <img src={{product.image}} class="card-img-top" alt="..."
                        style="height: 100px; width:100px;margin-top:8%; margin-left: 25%;">
                    <div class="card-body">
                        <h3 id="truncate" class="card-title">{{product.title}}</h3>
                        <button id="btnRupee" href="#" class="btn btn-primary"><i class="fa fa-rupee"></i> &nbsp;
                            {{product.price}}</button>
                        <br>
                        <br>
                        <p class="card-text"><span class="fa fa-star"></span>{{product.rating.rate}} <span
                                style="color: grey;"><small>&nbsp;reviews</small></span><small><span
                                    style="color: grey;">({{product.rating.count}})</span></small>
                        </p>

                        <mat-icon class="fav">favorite_border</mat-icon>
                        <mat-icon class="cart" (click)="addProduct(product)">remove_circle_outline</mat-icon>
                        <span class="quantity"> 1 </span>
                        <mat-icon (click)="addProduct(product)">add_circle_outline</mat-icon>

                    </div>
                </div>
            </div>
        </div>
    </div> -->
<!-- </body>

</html> -->

<div class="cartImage" *ngIf="products?.length === null">
  <img
    src="../../assets/cartEmpty.png"
    height="60%"
    width="50%"
    alt="cart is empty"
  />
</div>
<div class="homeButton" *ngIf="products?.length === null">
  <button type="button" class="btn btn-primary btn">Go To Homepage</button>
</div>

<div *ngIf="productPresent">
  <div style="overflow: hidden; background-color: bisque">
    <div class="container-fluid">
      <div class="row">
        <div *ngFor="let product of products" class="col-md-3">
          <div class="card m-4" style="height: 22rem; width: 18rem">
            <img
              src="{{ product.image }}"
              class="card-img-top"
              alt="..."
              style="
                height: 100px;
                width: 100px;
                margin-top: 8%;
                margin-left: 25%;
              "
            />
            <div class="card-body">
              <h3 id="truncate" class="card-title">
                {{ product.productName }}
              </h3>
              <button id="btnRupee" href="#" class="btn btn-primary">
                <i class="fa fa-rupee"></i> &nbsp; {{ product.price }}
              </button>
              <br />
              <br />
              <p class="card-text">
                <span class="fa fa-star"></span>{{ product.rating.rate }}
                <span style="color: grey"><small>&nbsp;reviews</small></span
                ><small
                  ><span style="color: grey"
                    >({{ product.rating.count }})</span
                  ></small
                >
              </p>

              <!-- <mat-icon class="fav">favorite_border</mat-icon> -->

              <!-- <mat-icon class="cart" (click)="addProduct(product)">remove_circle_outline</mat-icon> -->

              <button
                (click)="addProduct(product)"
                class="btn btn-outline-success"
              >
                +
              </button>
              <span class="quantity">
                &nbsp; {{ product.quantity }} &nbsp; </span
              ><button
                (click)="deleteProduct(product.productId)"
                class="btn btn-outline-danger"
              >
                -
              </button>
              <!-- <mat-icon (click)="addProduct(product)">add_circle_outline</mat-icon> -->
            </div>
          </div>
        </div>
      </div>

      <div class="footer">
        <p>
          <span class="total"
            >Subtotal :&nbsp;&nbsp;&nbsp;<b
              ><i class="fa fa-rupee"></i> {{ price }}</b
            ></span
          ><button id="btn" type="button" class="btn btn-warning">
            Checkout
          </button>
        </p>
      </div>
    </div>
  </div>
</div>
